* @bysplays
/vendor/ @bysplays @cosasdepuma
/firebase.json @bysplays @cosasdepuma
/src/services/firebase.ts @bysplays @cosasdepuma
/src/services/firestoreAccess.ts @bysplays @cosasdepuma
/src/services/firestoreProgress.ts @bysplays @cosasdepuma